.navigationBar {
    height: 10vh;
    width: 102vw;
    position: absolute;
    bottom: -1%;
    left: -1%;
    display: flex;
    justify-content: space-around;
    background-color: #2d8e894f;
}

.NavImg {
    height: 10vh;
}