@font-face {
    font-family: mainFont;
    src: url(assets/fonts/YardenAlefAlefAlef/otf/yarden-bold-alefalefalef.otf);
}

#body {
    background-color: #efe7da;
    font-family: mainFont;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.progressBar {
    border: 1px black solid;
    height: 10vh;
    width: 100vw;
}

.tirgul1Title{
    font-size: 3vh;
    direction: rtl;
}

.scene {
    display: inline-block;
    width: 200px;
    height: 260px;
  /*   border: 1px solid #CCC; */
    margin: 40px 0;
    perspective: 600px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: crimson;
  }
  
  .card__face--back {
    background: slateblue;
    transform: rotateY(180deg);
  }
  