@font-face {
    font-family: mainFont;
    src: url(assets/fonts/YardenAlefAlefAlef/otf/yarden-bold-alefalefalef.otf);
}

#body {
    background-color: #efe7da;
    font-family: mainFont;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.progressBar {
    border: 1px black solid;
    height: 10vh;
    width: 100vw;
}

.tirgul1Title{
    font-size: 3vh;
    direction: rtl;
}

.tirgul1Word {
    font-size: 6vh;
    text-align: center;
    color: #2d8e89;
}

.answers {
    height: 35vh;
    width: 90vw;
    position: absolute;
    right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.answer {
    border: 6px black solid;
    border-radius: 30px;
    width: 42vw;
    height: 16vh;
    /* background-color: rgba(69, 182, 101, 0.422); */
    
}

.ans1Title {
    text-align: center;
    font-size: 3vh;
    color: #2d8e89;
}

.ans1Img1 {
    height: 6vh;
    position: absolute;
    left: 19%;
    top: 25%;
}

.ans1Img2 {
    height: 6vh;
    position: absolute;
    right: 17%;
    top: 25%;
}

.ans1Img3 {
    height: 6vh;
    position: absolute;
    left: 19%;
    top: 72%;
}

.ans1Img4 {
    height: 6vh;
    position: absolute;
    right: 17%;
    top: 72%;
}

.checkAns1 {
    display: inline-block;
    border: 6px black solid;
    border-radius: 30px;
    position: absolute;
    bottom: 15%;
    left: 34%;
    font-size: 4vh;
    height: 5vh;
    width: 30vw;
    text-align: center;
    color: #2d8e89;
}

.touched {
    background-color: rgba(128, 128, 128, 0.34);
}

.true {
    background-color: rgba(69, 182, 101, 0.422);
}

.false {
    background-color: rgba(255, 0, 0, 0.525);
}