@font-face {
    font-family: mainFont;
    src: url(assets/fonts/YardenAlefAlefAlef/otf/yarden-bold-alefalefalef.otf);
}

#body {
    background-color: #efe7da;
    font-family: mainFont;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
}

.quest1 {
  position: absolute;
  top: 12%;
}

.progressBar {
    /* border: 1px black solid; */
    height: 10vh;
    width: 100vw;
    position: absolute;
    top: 3%;
}

.tirgul1Title{
    font-size: 3vh;
    direction: rtl;
    user-select: none;
}

.tirgul1Word {
    font-size: 6vh;
    text-align: center;
    color: #2d8e89;
    user-select: none;
}

.answers {
    height: 35vh;
    width: 90vw;
    position: absolute;
    right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    user-select: none;
}

.answer {
    border: 6px black solid;
    border-radius: 30px;
    width: 42vw;
    height: 16vh;
    user-select: none;
    /* background-color: rgba(69, 182, 101, 0.422); */
    
}

.ans1Title {
    text-align: center;
    font-size: 3vh;
    color: #2d8e89;
    user-select: none;
}

.ans1Img1 {
    height: 6vh;
    position: absolute;
    left: 19%;
    top: 25%;
}

.ans1Img2 {
    height: 6vh;
    position: absolute;
    right: 17%;
    top: 25%;
}

.ans1Img3 {
    height: 6vh;
    position: absolute;
    left: 19%;
    top: 72%;
}

.ans1Img4 {
    height: 6vh;
    position: absolute;
    right: 17%;
    top: 72%;
}

.checkAns1 {
    display: inline-block;
    border: 6px black solid;
    border-radius: 30px;
    position: absolute;
    bottom: 2%;
    left: 34%;
    font-size: 4vh;
    height: 5vh;
    width: 30vw;
    text-align: center;
    color: #2d8e89;
    user-select: none;
}

.touched {
    background-color: rgba(128, 128, 128, 0.34);
}

.true {
    background-color: rgba(69, 182, 101, 0.422);
}

.false {
    background-color: rgba(255, 0, 0, 0.525);
}

.scene {
    display: inline-block;
    height: 10vh;
    width: 15vw;
  /*   border: 1px solid #CCC; */
    margin: 40px 0;
    perspective: 500px;
  }
  
  .card {
    position: absolute;
    height: 23vh;
    width: 42vw;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    user-select: none;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    margin: 0%;
    position: absolute;
    height: 23vh;
    width: 42vw;
    line-height: 21vh;
    color: black;
    text-align: center;
    font-size: 6vh;
    backface-visibility: hidden;
    border: 3px #2d8e89 solid;
    border-radius: 30px;
    user-select: none;
  }
  
  .card__face--front {
    background: #2d8e894f;
  }
  
  .card__face--back {
    background: #2d8e894f;
    transform: rotateY(180deg);
  }
  
  .wordsDiv {
    /* border: 3px black solid; */
    width: 98vw;
    height: 78vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    position: absolute;
    top: -2%;
  }
  
  .full {
    /* height: 100%; */
    overflow: hidden;
    user-select: none;
  }
  
  .tirgul2Title {
    font-size: 3vh;
    direction: rtl;
    top: -20%;
    user-select: none;
  }
  
  #card1 {
    position: absolute;
    top: 30%;
    left: 15%;
    user-select: none;
  }
  
  #card2 {
    position: absolute;
    top: 30%;
    left: 260%;
    user-select: none;
  }

  #card3 {
    position: absolute;
    top: 300%;
    left:-20%;
    user-select: none;
  }

  #quest2 {
    visibility: hidden;
    position: absolute;
    top: 10%;
    user-select: none;
  }

  .cardTouch {
    color: grey;
  }

  .disabled {
    color: grey;
  }

  .tirgul3S {
    font-size: 3.5vh;
    direction: rtl;
    text-align: center;
    color: #2d8e89;
    margin-top: 20%;
    user-select: none;
  }

  .tirgul3A {
    font-size: 3.5vh;
    text-align: center;
    color: black;
    margin-top: 13%;
    user-select: none;
  }

  .tirgul4WordDiv {
    height: 20vh;
    width: 90vw;
    position: absolute;
    top: 128%;
    right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .t4word {
    border: 3px black solid;
    border-radius: 30px;
    display: inline-block;
    height: 8vh;
    width: 23vw;
    font-size: 3vh;
    text-align: center;
    line-height: 7vh;
    user-select: none;
    /* color: #2d8e89; */
  }

  .ansT4 {
    display: inline-block;
    /* border: 1px black solid; */
    height: 3vh;
    width: 19vw;
    position: absolute;
    top: 78.6%;
    left: 12%;
    direction: rtl;
    font-size: 3.3vh;
    color: #2d8e89;
  }

  .quest3 {
    visibility: hidden;
    position: absolute;
    top: 10%;
  }

  .quest4 {
    visibility: hidden;
    position: absolute;
    top: 10%;
  }

  .anst42 {
    left: 64%;
  }

  .progImg {
    height: 8vh;
    width: 13.9vw;
  }